pipeline/CreateTableDynamicallypipeline.json
{
	"name": "CreateTableDynamicallypipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Excel Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ExcelDataSet",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "source",
							"p_directory": "ExcelData"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEachFileInExcelDataFolder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Excel Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Excel Metadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Excel File data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ExcelTillFileNameDS",
									"type": "DatasetReference",
									"parameters": {
										"pcontainer": "source",
										"pdir": "ExcelData",
										"pfilename": "EmpoyeeWithSheet.xlsx",
										"p_sheetname": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "destinationdatafolderds",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "destination",
										"p_directory": "ExcelData",
										"p_filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Interview Questions"
		},
		"annotations": [],
		"lastPublishTime": "2025-05-31T07:54:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}