pipeline/DynamicFilenameBasedpipeline.json
{
	"name": "DynamicFilenameBasedpipeline",
	"properties": {
		"activities": [
			{
				"name": "GetSourcedataMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SourceDatafolder_ds",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "source",
							"p_directory": "data"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachSourceData",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSourcedataMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSourcedataMetadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SwitchFiles",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@replace(item().name , '.csv', '')",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Orders",
										"activities": [
											{
												"name": "Wait1",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 10
												}
											}
										]
									},
									{
										"value": "dept",
										"activities": [
											{
												"name": "Wait2",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Wait3",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Interview Questions"
		},
		"annotations": [],
		"lastPublishTime": "2025-05-28T21:38:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}