pipeline/Get LatestFile From Folder pipeline.json
{
	"name": "Get LatestFile From Folder pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Of Source Data Folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SourceDatafolder_ds",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "source",
							"p_directory": "data"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFileInDataFolder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata Of Source Data Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Of Source Data Folder').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get File Metadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "sourcedatafolderds",
									"type": "DatasetReference",
									"parameters": {
										"p_folder": "data",
										"p_container": "source",
										"p_filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName",
									"size"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get File Metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(formatDateTime(activity('Get File Metadata').output.lastModified), formatDateTime(variables('varlastmodified')))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set lastmodified variable",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "varlastmodified",
											"value": {
												"value": "@activity('Get File Metadata').output.lastModified",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set FileName variable",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "varfilename",
											"value": {
												"value": "@activity('Get File Metadata').output.itemName",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Copy Source data As Per File size",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get File Metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sourcedatafolderds",
									"type": "DatasetReference",
									"parameters": {
										"p_folder": "data",
										"p_container": "source",
										"p_filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sourcedatafolderds",
									"type": "DatasetReference",
									"parameters": {
										"p_folder": {
											"value": "@if(less(activity('Get File Metadata').output.size, 100 ) , '100B', \nif(less(activity('Get File Metadata').output.size, 500 ), '500B', 'MoreThan 500B'))",
											"type": "Expression"
										},
										"p_container": "destination",
										"p_filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy Latest File data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEachFileInDataFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "insertdate",
								"value": {
									"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
									"type": "Expression"
								}
							},
							{
								"name": "inserttime",
								"value": {
									"value": "@formatDateTime(utcNow(), 'HH:mm:ss')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sourcedatafolderds",
						"type": "DatasetReference",
						"parameters": {
							"p_folder": "data",
							"p_container": "source",
							"p_filename": {
								"value": "@variables('varfilename')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "sourcedatafolderds",
						"type": "DatasetReference",
						"parameters": {
							"p_folder": "data",
							"p_container": "destination",
							"p_filename": {
								"value": "@variables('varfilename')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"varlastmodified": {
				"type": "String",
				"defaultValue": "1900-01-01"
			},
			"varfilename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Interview Questions"
		},
		"annotations": [],
		"lastPublishTime": "2025-05-30T21:02:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}