pipeline/Watermark pipeline.json
{
	"name": "Watermark pipeline",
	"properties": {
		"activities": [
			{
				"name": "LookupSource",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "SELECT max(Inserttime) as MaxDate FROM sql_store.orders_source;"
					},
					"dataset": {
						"referenceName": "MySqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Lookup Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "select watermarkdatetime from sql_store.watermark_table where tablename =\"orders_source\";"
					},
					"dataset": {
						"referenceName": "MySqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Incremental data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupSource",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "select * from sql_store.orders_source where Inserttime >'@{activity('Lookup Watermark').output.firstRow.watermarkdatetime}' AND Inserttime <= '@{activity('LookupSource').output.firstRow.MaxDate}';\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "MySqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sourcedatafolderds",
						"type": "DatasetReference",
						"parameters": {
							"p_folder": "data",
							"p_container": "destination",
							"p_filename": "Orders_Target.csv"
						}
					}
				]
			},
			{
				"name": "Stored procedure Watermark table",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy Incremental data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"folder": {
			"name": "Interview Questions"
		},
		"annotations": [],
		"lastPublishTime": "2025-05-31T11:47:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}